body {
    display: flex;
    font-family: Arial;
    background-color: rgba(0, 0, 0, 0.6);
}

h1 {
    text-align: center;
    border-bottom: 1px solid #ccc;
    padding-bottom: 10px;
    margin-bottom: 0;
}

h5 {
    margin-bottom: 5px;
    font-size: 14px;
}

p {
    font-size: 12px;
    margin-bottom: 30px;
}

input {
    cursor: pointer;
}

input[type=submit] {
    padding: 10px;
    background: #fff;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.2), 0 2px 5px 0 rgba(0, 0, 0, 0.19);
    border-bottom: 1px solid blue;
    margin: auto;
    display: block;
    width: 150px;
    text-align: center;
    margin-top: 30px;
}

#container {
    margin: auto;
    width: 60%;
    background: #eee;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: center;
}

#container div {
    margin: auto;
}

#img {
    overflow: hidden;
    height: 450px;
    position: relative;
    width: 498px;
}

#img img {
    position: absolute;
    bottom: 0;
    left: 0;
}

#inner-container {
    width: 90%;
}

#return-button {
    margin-bottom: 16px;
}
